﻿@{
    ViewBag.Title = "سجام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="index-content container">


        @if (TempData["msg"] != null)
        {
            <div class="row">
                <div id="mydiv" class="row col-lg-12  text-center" style="font-size: 24px; color: blue">
                    @TempData["msg"]
                </div>
            </div>

        }
        
        <h1 class="title">قابل توجه فعالان بازار سرمایه ایران</h1>

        <p>
            شرکت سپرده گذاری مرکزی اوراق بهادار و تسویه وجوه به منظور ارائه خدمات زیرساختی یکپارچه و فراگیر به فعالان بازار سرمایه به ویژه سرمایه گذاران حقیقی و حقوقی و ایجاد درگاه واحد خدمات دهی به تمامی ارکان بازار، نهادهای مالی، ناشران و مخصوصا سرمایه گذاران حقیقی و حقوقی، راه اندازی سامانه جامع اطلاعات مشتریان(سجام) را اعلام می نماید.
        </p>
        <p>
            این سامانه در راستای قوانین و مقررات حوزه مبارزه با پولشویی و تامین مالی تروریسم راه اندازی شده است.
        </p>
        <p>
            مطابق ضوابط حاکم، اخذ هرگونه خدمات پایه برای تمامی مشتریان حقیقی و حقوقی منوط به  ثبت اطلاعات و شناسایی  اشخاص مذکور می باشد. با راه اندازی این سامانه هر شخص، تنها با یک بار  ثبت اطلاعات و شناسایی امکان برخورداری از کلیه خدمات بازار سرمایه را خواهد داشت.
        </p>
        <p>
            بدیهی است محرمانگی اطلاعات اعلامی از سوی اشخاص، در چارچوب قوانین و مقررات حاکم، محفوظ خواهد بود.
        </p>

        <div class="title-steps ">
            گام های مورد نیاز برای تکمیل فرآیند ثبت نام
        </div>

        <div class="step-ctrl">
            <ul class="demo-steps-container">
                <li>
                    <div>
                        <i>1</i>
                        <span>وضعیت اولیه</span>
                    </div>
                </li>
                <li>
                    <div>
                        <i>2</i>
                        <span>تکمیل فرم ها</span>
                    </div>
                </li>
                <li>
                    <div>
                        <i>3</i>
                        <span>تایید استعلام و دریافت کد پیگیری</span>
                    </div>
                </li>
                <li>
                    <div>
                        <i>4</i>
                        <span>مراجعه به مراکز احراز هویت</span>
                    </div>
                </li>
                <li>
                    <div>
                        <i>5</i>
                        <span>احراز هویت نزد مراکز احراز هویت</span>
                    </div>
                </li>
                <li>
                    <div>
                        <i>6</i>
                        <span>تایید سهامدار در سجام</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">تنها با یک بار ثبت نام کردن در سامانه سجام، از این پس قادر خواهید بود :</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-justify">
                            <ul class="font-size12">
                                <li>به تمامی سرویس های بازار سرمایه دسترسی داشته باشید.</li>
                                <li>در هیچ یک از مراجعات خود به نهادهای مالی اعم از کارگزاری، صندوقهای سرمایه گذاری،شرکتهای تامین سرمایه و ... نیاز به شناسایی کامل مجدد نخواهید داشت.</li>
                                <li>ارسال تمامی اسناد، مدارک، اعلان، اخطارها، مکاتبات و مرسولات بر اساس اطلاعات ارتباطی ارائه شده از سوی شما در سامانه سجام انجام می گیرد.</li>
                                <li>شما قادر خواهید بود تغییر اطلاعات ارتباطی خود از جمله نشانی محل سکونت و اقامتگاه خود را مستقیماً اعمال نمایید.</li>
                                <li>پرداخت کلیه مطالبات و عایدی نقدی شما در بازار سرمایه به شماره حساب اعلامی متعلق به شما در سامانه سجام واریز خواهد شد و شما قادر خواهید بود شماره حسابتان را حسب صلاح دید تغییر دهید.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">متوجه شدم</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <div class="row">

                <div class="col-xs-12 col-sm-12"></div>
            
                <div class="col-xs-12 col-sm-2">
                    <a href='@Url.Action("CreateOtpAsync", "Session")' class="btn  btn-success mrg10B">
                        <i class="fa fa-user"></i>
                        <span>ثبت نام در سجام</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <a href='@Url.Action("CreateOtpAsync", "Session")' class="btn btn-main mrg10B">
                        <i class="fa fa-edit"></i>
                        <span>ویرایش اطلاعات قبلی</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <a href='@Url.Action("Index", "Profile")' class="btn btn-main-outlined mrg10B" style="float: right">
                        <i class="fa fa-mobile-phone"></i>
                        <span>ویرایش تلفن همراه</span>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <a href='@Url.Action("CreateOtpAsync", "Session")' class="btn btn-primary mrg10B">
                        <i class="fa fa-recycle"></i>
                        <span>بازیابی کد پیگیری</span>
                    </a>
                </div>
            </div>

        </div>

    </div>

<script>
    setTimeout(function () {
        $('#mydiv').remove();

    }, 10000);
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };



    $(function () {
        $("#exampleModal").modal('show');
    });

</script>