﻿
@using Cerberus.Domain.Enum
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Web.ViewModel.Dashboard.PrivatePersonDashboardViewModel
@{
    ViewData["Title"] = "اطلاعات وارد شده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @await Html.PartialAsync("_StepsIndicator", Model)

    @await Html.PartialAsync("_TraceCode", Model.TraceCode)

    @if (Model.IssuanceStockCodes.Any() && Model.IssuanceStockCodes.SelectMany(x => x.IssuanceStockCodeResponses).Any())
    {
        @await Html.PartialAsync("_TradeCode", Model.IssuanceStockCodes)
    }

    @if (Model.Status >= ProfileStatus.SuccessPayment)
    {
        @await Html.PartialAsync("_Mobile", Model.Mobile)
    }

    @await Html.PartialAsync("_PrivatePersonInfo", Model.PrivatePerson)

    @if (Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Agent) || Model.Agent != null)
    {
        @await Html.PartialAsync("_AgentInfo", Model.Agent)
    }

    @await Html.PartialAsync("_AddressInfo", Model.Addresses.ToList())

    @await Html.PartialAsync("_TradingCode", Model.TradingCodes)

    @await Html.PartialAsync("_JobInfo", Model.JobInfo)

    @await Html.PartialAsync("_FinancialInfo", Model.FinancialInfo)

    @await Html.PartialAsync("_BankingAccount", Model.Accounts)


</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>



