﻿@model Cerberus.Web.ViewModel.Mobile.CheckMobileViewModel
@using Cerberus.Utility

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_EditMobileWithShahkarSteps.cshtml", 1)

<div class="form-wrapper">
    <form action="@Url.Action("CheckProfileExist","Profile")" method="post" id="form">

        @Html.AntiForgeryToken()

        <div class="form-steps">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row">
                       

                    

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier):</label>
                                @Html.TextBoxFor(model => model.UniqueIdentifier, new { @class = "form-control NumberInput", id = "uniqueIdentifier", maxlength = 10, dir = "ltr", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">
                                    <span class="mrg5L color-red">*</span>
                                    @Html.DisplayNameFor(model => model.Msisdn):
                                    <span class="form-hint">(بدون صفر)</span>
                                </label>
                                <div class="input-wrapper">
                                    @Html.TextBoxFor(model => model.Msisdn, new { @class = "form-control  number-control input-validation-error NumberInput", type = "tel", dir = "ltr", maxlength = 10, @placeholder = "9120000000", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Msisdn, "", new { @class = "text-danger" })
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @await Html.PartialAsync("_CaptchaControl")
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="btn-wrapper text-left">
                                    <button type="submit" class="btn btn-main" id="btnSubmit"><i class="fa fa-search" aria-hidden="true"></i> بررسی</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

