﻿@using Cerberus.Domain.Enum
@using Microsoft.AspNetCore.Routing
@model Cerberus.Web.ViewModel.ProfilePackageViewModel.ChangeMobileViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_EditMobileWithShahkarSteps.cshtml", 2)

<div class="form-wrapper">
    @if (Model.PrimitivePackageType==PrimitivePackageType.EditMobileNumberWithShahkar)
    {
    <div class="form-steps">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <label class="form-label">برای تغییر شماره تلفن همراه، شما باید مبلغ 50,000  ریال پرداخت نمایید</label>
                <form action="@Url.Action("EditAsync", "Payment")" method="post" id="form">
                    @Html.AntiForgeryToken()
                    @Html.Hidden("type",PrimitivePackageType.EditMobileNumberWithShahkar)
                    <div class="col-md-4 col-md-offset-4">
                        <div class="btn-wrapper text-left">
                            <a href="@Url.Action("Index","Profile")" class="btn btn-main-outlined">بازگشت</a>
                            <button type="submit" class="btn btn-main" id="confirmBtn"><i class="fa fa-check" aria-hidden="true"></i> پرداخت</button>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="form-guide">
            <ul>
                <li>از آنجایی که ویرایش شماره تلفن همراه مستلزم پرداخت هزینه می باشد، خواهشمند است قبل از پرداخت،از مالکیت شماره تلفن همراه توسط کد ملی ثبت نام شده در سامانه سجام اطمینان حاصل نمایید،در غیر اینصورت هزینه پرداخت شده عودت داده نمی شود</li>
            </ul>
        </div>

    }
    else
    {

    <div class="form-steps">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <label class="alert alert-danger">درصورت تمایل به ویرایش مجدد شماره موبایل، میبایست حداقل 24 ساعت ار آخرین ویرایش گذشته باشد.</label>

                <div class="col-md-4 col-md-offset-4">
                    <div class="btn-wrapper text-left">
                        <a href="@Url.Action("Index","Profile")" class="btn btn-main-outlined">بازگشت</a>

                    </div>
                </div>
            </div>
        </div>


    </div>

    }
    

</div>
