﻿@using Cerberus.Domain.Enum
@model Cerberus.Web.ViewModel.Mobile.EditMobileViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (Model.Type != null && Model.Type == PrimitivePackageType.EditMobileNumberWithShahkar)
{
    @await Html.PartialAsync("~/Views/Shared/_EditMobileWithShahkarSteps.cshtml", 4)
}
else
{
    @await Html.PartialAsync("~/Views/Shared/_EditMobileSteps.cshtml", 4)

}


<div class="form-wrapper">
    <form action="@Url.Action("UpdateAsync", "Profile")" method="post" id="form">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.NewMobile)
        <div class="form-steps">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Otp):</label>
                                <span class="form-hint">(کد تایید پیامک به شماره تلفن همراه جدید)</span>

                                @Html.TextBoxFor(model => model.Otp, new { @class = "form-control NumberInput", dir = "ltr", autocomplete = "off", @maxlength = "5" })
                                @Html.ValidationMessageFor(model => model.Otp, "", new { @class = "text-danger" })
                                 <span class="resendCode" id="resendCode">لطفا در صورت عدم دریافت کد تایید از    <a id="resendCodeBtn" style="color: red; text-decoration: underline">ارسال مجدد کد </a> استفاده کنید.</span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="btn-wrapper text-left">
                                    <button type="submit" class="btn btn-main" id="btnSubmit"><i class="fa fa-check" aria-hidden="true"></i>  تایید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>

</div>
<script>
    $(function() {
        $("#Otp").val("");
    });
    $(function() {
        $("#resendCode").addClass("hidden");
        setTimeout(function() {
                $("#resendCode").removeClass("hidden");
            },
            20000);
    });



    $("#resendCodeBtn").click(function () {
        debugger;
        var type = '@(Model.Type == PrimitivePackageType.EditMobileNumberWithShahkar? "/EditMobileWithShahkarService": "/EditMobile")';
        debugger;
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "api/resendOtpEdit/" + $("#NewMobile").val() +type,

            success: function (result) {
                if (result.isSuccess) {
                    swalMessage(result.message, "success");
                } else {
                    swalMessage(result.message, "warning");
                }
            },
            error: function (result) {
                if (result.status.toString() !== "429")
                    swalMessage(result.message, "warning");
                else
                    swalMessage("تعداد درخواست شما بیش از حد مجاز است.", "error");
            }
        });
    });
</script>