﻿

/*ErrorPages*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-weight: 600;
    color: #343434;
}

.error_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

    .error_section .error_title {
        --x-shadow: 0;
        --y-shadow: 0;
        --x: 50%;
        --y: 50%;
        font-size: 3.5rem;
        transition: all 0.2s ease;
        position: relative;
        padding: 2rem;
       
    }

        .error_section .error_title:hover {
            transition: all 0.2s ease;
            text-shadow: var(--x-shadow) var(--y-shadow) 10px #1A1A1A;
        }


    .error_section .error_detail {
        --x-shadow: 0;
        --y-shadow: 0;
        --x: 50%;
        --y: 50%;
        font-size: 2rem;
        transition: all 0.2s ease;
        position: relative;
        padding: 2rem;
        text-align: center; 
    }

        .error_section .error_detail:hover {
            transition: all 0.2s ease;
            text-shadow: var(--x-shadow) var(--y-shadow) 10px #1A1A1A;
        }

    .error_section .error_title p {
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.05), transparent);
        background-position: var(--x) var(--y);
        background-repeat: no-repeat;
        text-shadow: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.1s ease;
    }
