﻿@using Cerberus.Utility
@model Cerberus.Web.ViewModel.Payment.CreatePaymentViewModel

@{
    ViewBag.Title = "پرداخت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-wrapper">
@if (Model.PrimitivePackageType == 0)
{
    <div class="text-center">
        <label class="alert alert-danger row"> مقدار نامعتبر است</label>
    </div>
}
else
{
    <h3 tabindex="-1" class="title-form">
        <i>
            <i class="fa fa-money" aria-hidden="true"></i>
        </i>
        <span>پرداخت</span>
    </h3>
    <h3 class="mrg30B mrg30T">
        کارمزد ویرایش اطلاعات مبلغ <span>@Model.Amount.ToString("N0")</span>
        ریال می باشد
    </h3>


    <div class="payment-wrapper">
        <form action="@Url.Action("InitEditAsync", "Payment")" method="post" id="form">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.PrimitivePackageType)

            <div class="btn-wrapper mrg30T mrg30B">
                <button type="submit" class="btn btn-main"><i class="fa fa-money" aria-hidden="true"></i> پرداخت </button>
            </div>
        </form>
    </div>
}
</div>