﻿@model Cerberus.Web.ViewModel.Payment.PaymentRequest
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Token == "")
{
    <div class="row" style="display: block; margin-top: 80px;">

        <div class="alert alert-danger text-center"><span>خطا در اتصال به سرویس، لطفا چند دقیقه دیگر امتحان کنید</span></div>
    </div>
}
else
{
    <form method="post" action="@Model.Url" id="getwayform">
        <input hidden name="PaymentToken" value="@Model.Token" />

    </form>

}


<script>
    window.onload = function () {
        document.getElementById("getwayform").submit();
    }
</script> 