﻿@using Cerberus.Utility
@model List<Cerberus.Web.ViewModel.AuthenticationOffices.AuthenticationOfficesViewModel>


@if (Model.Any())
{
    int rowNumber = 1;
    <div id="content">

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-responsive" id="dataTables-example">
                <thead>
                <tr class="text-center">
                    <th class="text-center  ">
                        ردیف
                    </th>
                    <th class="text-center  ">
                        نام
                    </th>
                    <th class="text-center   ">
                        دانلود
                    </th>
                    <th class="text-center  ">
                        شماره تماس پشتیبانی
                    </th>    
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd  text-center">
                        <td class="text-center  ">
                            @(rowNumber++)
                        </td>
                        <td class="text-center  ">
                            @item.ResponsibleName
                        </td>
                        <td class="text-center ">
                            <a href="@item.Address" target="_blank">لینک</a>
                        </td>                      
                        <td>
                            @item.Telephone
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
  
    </div>
}






