﻿@model Cerberus.Web.ViewModel.Profile.CreateProfileViewModel
@using Cerberus.Utility

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Otp = null;
}
<script src="~/js/Profile/CreateProfile.js?@ViewBag.Ver"></script>
@await Html.PartialAsync("~/Views/Shared/_FirstStep.cshtml", 2)

<div class="form-wrapper">
    <form action="@Url.Action("ConfirmAsync","Session")" method="post">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Msisdn,new {@id= "msisdn" })

        <div class="form-steps">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Otp):</label>
                                <span class="form-hint">(کد پیامک شده به شماره تلفن :<span class="color-red text-bold">@Model.Msisdn.NormalizeMobile()</span>)</span>

                                @Html.TextBoxFor(model => model.Otp, new { @class = "form-control NumberInput", dir = "ltr", autocomplete = "off", @maxlength = "5" })
                                @Html.ValidationMessageFor(model => model.Otp, "", new { @class = "text-danger" })
                                <span class="resendCode" id="resendCode">لطفا در صورت عدم دریافت کد تایید از    <a id="resendbtn" style="color: red; text-decoration: underline">ارسال مجدد کد </a> استفاده کنید.</span>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Type):</label>
                                <span class="form-select">
                                    @Html.DropDownListFor(model => model.Type, Model.Type.ToSelectList().Take(2), new { @class = "form-control", id = "profileType" })
                                </span>
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier):</label>
                                @Html.TextBoxFor(model => model.UniqueIdentifier, new { @class = "form-control NumberInput", id = "uniqueIdentifier", maxlength = 12, dir = "ltr", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @await Html.PartialAsync("_CaptchaControl")
                            </div>
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="btn-wrapper text-left">
                                    <button type="submit" class="btn btn-main" id="confirmBtn"><i class="fa fa-check" aria-hidden="true"></i>  تایید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">توجه :</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-justify">
                            <span>
                                لطفا پیش از ثبت نام در سامانه سجام، از مالکیت شماره تلفن همراه و انطباق آن با کد ملی اطمینان حاصل فرمایید. مراکز پشتیبانی اپراتورهای تلفن همراه، آماده راهنمایی شما می باشند.
                            </span>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">متوجه شدم</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        var c = getCookie('@Model.Msisdn');
        setTimeout(function () {
                if (c=="") {
                    $("#infoModal").modal('show');
                   }
     setCookie('@Model.Msisdn');
            },
            2000);
    })
    function setCookie(mobile) {
       
        document.cookie=stringToHash(mobile)+"="+uuidv4();
    }

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }


    function stringToHash(string) { 
                  
        var hash = 0; 
                  
        if (string.length == 0) return hash; 
                  
        for (i = 0; i < string.length; i++) { 
            char = string.charCodeAt(i); 
            hash = ((hash << 5) - hash) + char; 
            hash = hash & hash; 
        } 
                  
        return hash; 
    } 
    function getCookie(cname) {
     var name =stringToHash(cname) + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>
