﻿@using Cerberus.Domain.Enum
@using Cerberus.Domain.Model
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model List<Cerberus.Domain.Model.Address>

@{
    var firstAddress = Model.Any() ? Model.First() : new Address();

    var dataIsNotOk = (firstAddress?.Country == null || firstAddress?.Province == null || firstAddress?.City == null || string.IsNullOrWhiteSpace(firstAddress?.RemnantAddress) || string.IsNullOrWhiteSpace(firstAddress.PostalCode));
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Address);
}

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات ارتباطی</span>
            @if (dataIsNotOk && Model.Any())
            {
                <span class="incomplete-data-indicator">اطلاعات ارتباطی شما نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton && Model.Any())
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات ارتباطی", "Index", "Address", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>

    <div class="details-container">
        @if (Model.Any())
        {
            <dl class="col-md-3 col-xs-6">
                <dt>کشور</dt>
                <dd>@firstAddress?.Country?.Name</dd>
            </dl>
            <dl class="col-md-3 col-xs-6">
                <dt>استان</dt>
                <dd>@firstAddress?.Province?.Name</dd>
            </dl>
            <dl class="col-md-3 col-xs-6">
                <dt>شهر</dt>
                <dd>@firstAddress?.City?.Name</dd>
            </dl>
            <dl class="col-md-3 col-xs-6">
                <dt>بخش</dt>
                <dd>@firstAddress?.Section?.Name</dd>
            </dl>
            <dl class="col-md-3 col-xs-6">
                <dt>خیابان</dt>
                <dd>@firstAddress?.RemnantAddress</dd>
            </dl>

            <dl class="col-md-3 col-xs-6">
                <dt>کوچه</dt>
                <dd>@firstAddress?.Alley</dd>
            </dl>
            <dl class="col-md-3 col-xs-6">
                <dt>پلاک</dt>
                <dd>@firstAddress?.Plaque</dd>
            </dl>

            <dl class="col-md-3 col-xs-6">
                <dt>شماره تلفن</dt>
                <dd>@firstAddress?.Tel - @firstAddress?.CityPrefix</dd>
            </dl>

            <dl class="col-md-3 col-xs-6">
                <dt>کدپستی</dt>
                <dd>@firstAddress?.PostalCode</dd>
            </dl>

            <dl class="col-md-3 col-xs-6">
                <dt>تلفن اضطراری</dt>
                <dd>@firstAddress?.EmergencyTel - @firstAddress?.EmergencyTelCityPrefix</dd>
            </dl>
            if (Context.Request.GetCurrentUserData().ProfileOwnerType == ProfileOwnerType.IranianLegalPerson)
            {
                <dl class="col-md-3 col-xs-6">
                    <dt>وب سایت</dt>
                    <dd>@firstAddress?.Website</dd>
                </dl>
                <dl class="col-md-3 col-xs-6">
                    <dt>دورنگار</dt>
                    <dd> @firstAddress?.Fax - @firstAddress?.FaxPrefix</dd>
                </dl>


                if (Model.Count > 1)
                {
                    var secoundAddress = Model.Skip(1).First();

                    <span class="col-xs-12" style="margin-top: 30px; color: #3e51b5; font-size: 15pt;">
                        نشانی محل فعالیت اصلی

                        <hr style="color: black; font-weight: bold;">

                    </span>

                    <dl class="col-md-3 col-xs-6">
                        <dt>کشور</dt>
                        <dd>@secoundAddress?.Country?.Name</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>استان</dt>
                        <dd>@secoundAddress?.Province?.Name</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>شهر</dt>
                        <dd>@secoundAddress?.City?.Name</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>بخش</dt>
                        <dd>@secoundAddress?.Section?.Name</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>خیابان</dt>
                        <dd>@secoundAddress?.RemnantAddress</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>کوچه</dt>
                        <dd>@secoundAddress?.Alley</dd>
                    </dl>
                    <dl class="col-md-3 col-xs-6">
                        <dt>پلاک</dt>
                        <dd>@secoundAddress?.Plaque</dd>
                    </dl>

                    <dl class="col-md-3 col-xs-6">
                        <dt>شماره تلفن</dt>
                        <dd>@secoundAddress?.Tel - @secoundAddress?.CityPrefix</dd>
                    </dl>

                    <dl class="col-md-3 col-xs-6">
                        <dt>کدپستی</dt>
                        <dd>@secoundAddress?.PostalCode</dd>
                    </dl>

                }
            }

        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                اطلاعات ارتباطی برای شما در سامانه ثبت نگردیده است !

                @if (!Model.Any() && showEditButton)
                {
                    <div class="mt-1">
                        @Html.ActionLink("ثبت اطلاعات ارتباطی", "Index", "Address", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                    </div>
                }
            </div>
        }
    </div>

</section>
