﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model Cerberus.Domain.Model.Agent

@{
    var dataIsNotOk = Model?.IsConfirmed == false;
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Agent);

}
<script src="~/js/Dashboard/Agent.js?@ViewBag.Ver"></script>

<section class="detail-indicator @((dataIsNotOk) ? "is-not-ok" : "is-ok")" id="agentBox">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات نماینده</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات نماینده نیازمند ویرایش است.</span>
            }
        </h2>
        @if (Model != null && showEditButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش و یا ثبت نماینده جدید", "Index", "Agent", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }

    </header>
    <div class="details-container">
        @if (Model != null)
        {
            <dl class="col-md-4">
                <dt>نام</dt>
                <dd>@Model?.AgentProfile?.PrivatePerson?.FirstName</dd>
            </dl>
            <dl class="col-md-4">
                <dt>نام خانوادگی</dt>
                <dd>@Model?.AgentProfile?.PrivatePerson?.LastName</dd>
            </dl>
            <dl class="col-md-4">
                <dt>نام پدر</dt>
                <dd>@Model?.AgentProfile?.PrivatePerson?.FatherName</dd>
            </dl>
            <dl class="col-md-4">
                <dt>جنسیت</dt>
                <dd>@Model?.AgentProfile?.PrivatePerson?.Gender.GetEnumDescription()</dd>
            </dl>
            <dl class="col-md-4">
                <dt>نوع نمایندگی</dt>
                <dd>@Model?.Type.GetEnumDescription()</dd>
            </dl>
            <dl class="col-md-12 has-larg-detail">
                <dt>وضعیت فایل های ارسالی نماینده</dt>
                @switch (Model?.IsConfirmed)
                {
                    case true:
                        <dd>تایید شده</dd>
                        break;
                    case null:
                        <dd>در انتظار تایید</dd>
                        break;
                    default:
                        <dd>
                            <span>عدم تایید</span>
                            <br />

                        </dd>
                        <dl class="col-md-12 has-larg-detail">
                            <dt>علت عدم تایید</dt>
                            <dd> @Model?.Description</dd>
                        </dl>
                        break;
                }
            </dl>
        }
        else

        {
            <div class="alert alert-warning text-center mb-0">


                <div class="mt-1">
                    @Html.ActionLink("ثبت اطلاعات نماینده", "Index", "Agent", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                </div>
            </div>
        }
    </div>
</section>