﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model IEnumerable<Cerberus.Domain.Model.BankingAccount>

@{
    var dataIsNotOk = Model.Any(x => x.IsConfirmed == false);
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.BankingAccount);
    var showEditSejamiButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.EditBankingAccount);
    var status = Context.Request.GetCurrentUserData().ProfileStatus;
}

<section class="detail-indicator  @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات حساب بانکی</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات بانکی شما نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton && Model.Any())
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات حسابهای بانکی", "Index", "BankingAccount", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
        else if (showEditSejamiButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش  و ثبت اطلاعات حسابهای بانکی", "Edit", "BankingAccount", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>

    <div class="details-container">
        @if (Model.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center text-bold">شماره حساب</th>
                            <th class="text-center text-bold">نوع شماره حساب</th>
                            @*<th class="text-center text-bold">نام صاحب حساب</th>*@
                            <th class="text-center text-bold">بانک</th>
                            <th class="text-center text-bold">شهر شعبه</th>
                            <th class="text-center text-bold">شعبه</th>
                            <th class="text-center text-bold">کد شعبه</th>
                            <th class="text-center text-bold">شماره شبا</th>
                            <th class="text-center text-bold">حساب پیش فرض</th>
                            @if (status == ProfileStatus.Sejami)
                            {
                                <th style="width:16%" class="text-center text-bold">

                                </th>

                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td class="text-center">@item.AccountNumber</td>
                                <td class="text-center">@item.Type?.GetEnumDescription()</td>
                                @*<td class="text-center">
                                    @(item.ProfileOwner?.Type == ProfileOwnerType.ForeignLegalPerson || item.ProfileOwner?.Type == ProfileOwnerType.IranianLegalPerson
                                                                  ? item.ProfileOwner.LegalPerson?.CompanyName :
                                                                  $"{item.ProfileOwner?.PrivatePerson?.FirstName} { item.ProfileOwner?.PrivatePerson?.LastName}")
                                </td>*@
                                <td class="text-center">@item.Bank?.Name</td>
                                <td class="text-center">@item.BranchCity?.Name</td>
                                <td class="text-center">@item.BranchName</td>
                                <td class="text-center">@item.BranchCode</td>
                                <td class="text-center font-eng">@item.Sheba</td>
                                <td class="text-center text-success">
                                    @if (item.IsDefault)
                                    {
                                        <i class="fa fa-check"></i>
                                    }
                                </td>
                                @if (status >= ProfileStatus.TraceCode)
                                {
                                    <td style="display: inline-table" class="text-center">
                                        <form style="display: inline-block" method="POST" action="@Url.Action("EditAsync","BankingAccount")">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <input type="submit" class="btn btn-primary btn-xs" value="ویرایش" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                        </form>

                                        @if (!item.IsDefault)
                                        {
                                            <form style="display: inline-block" class="inheritDisplay" method="POST" action="@Url.Action("IsDefaultAsync", "BankingAccount")">
                                              <input type="submit" class="btn btn-main-outlined btn-xs" onclick="'@(TempData["dashboard"] = "ok")'" value="پیشفرض" aria-hidden="true" data-toggle="modal" data-target="#myModal" />
                                            </form>
                                            @*<form id="form-bankingAccount-delete" style="display: inline-block; margin-bottom: 3px" method="post">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" value="@item.Id"/>
                                                    <a onclick="DeleteAccount('@item.Id')"><i class="btn btn-danger btn-xs" aria-hidden="true">حذف</i></a>
                                                </form>*@
                                        }
                                        else
                                        {
                                            <a class="inheritDisplay"><i class="btn btn-primary disabled btn-xs ">پیشفرض</i></a>
                                            @*<a class="inheritDisplay"><i class="btn btn-danger disabled btn-xs ">حذف</i></a>*@
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعاتی از حسابهای بانکی شما در سامانه وجود ندارد!

                <div class="mt-1">
                    @Html.ActionLink("ثبت اطلاعات حسابهای بانکی", "Index", "BankingAccount", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                </div>
            </div>
        }
    </div>

</section>


