﻿@model int

<section class="content-header">
    <div class="container gutter-20">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;">سجام</a></li>
            <li class="breadcrumb-item active"> @ViewBag.Title</li>
        </ol>
        <h1>
            @ViewBag.Title
        </h1>
    </div>
</section>

<div class="steps-wrapper hideallsteps">
    <div class="container">
        <div class="steps clearfix">
            <ul role="tablist">
                <li role="tab" class="first @(Model==1?"current":"done")" aria-disabled="false" aria-selected="true">
                    <a href="javascript:;">
                        <span class="current-info audible">مرحله: </span>
                        <i>
                            <i class="fa fa-registered" aria-hidden="true"></i>
                        </i>
                        <span>ثبت نام</span>
                    </a>
                </li>
                <li role="tab" class="@(Model==2?"current":"disabled")" aria-disabled="true">
                    <a href="javascript:;">
                        <i>
                            <i class="fa fa-question" aria-hidden="true"></i>
                        </i>
                        <span>کد تایید/ نوع مشتری</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>