﻿<footer>
    <p>
        <a href="http://csdiran.com/">شرکت سپرده گذاری مرکزی اوراق بهادار و تسویه وجوه</a>
    </p>
    <p>
        <a href="Tel:1569">تلفن پشتیبانی سامانه سجام:1569</a>
    </p>
</footer>