﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model IEnumerable<Cerberus.Domain.Model.LegalPersonStakeholder>

@{
    var dataIsNotOk = !Model.Any();
    var showEditButton = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.StakeholderTakeManager);
}

<section class="detail-indicator  @((dataIsNotOk) ? "is-not-ok" : "is-ok")">
    <header class="title-container">
        <h2 class="title-label">
            <span>اطلاعات اعضای هیئت مدیره</span>
            @if (dataIsNotOk)
            {
                <span class="incomplete-data-indicator">اطلاعات  اعضای هیئت مدیره نیازمند ویرایش است.</span>
            }
        </h2>

        @if (showEditButton)
        {
            <div class="edit-indicator-box">
                @Html.ActionLink("ویرایش اطلاعات  اعضای هیئت مدیره", "Manager", "Stakeholder", new { }, new { @class = "btn btn-main-outlined btn-sm" })
            </div>
        }
    </header>

    <div class="details-container">
        @if (Model.Any())
        {
            <table class="table table-striped table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center text-bold">نام </th>
                        <th class="text-center text-bold">نام خانوادگی</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.StakeholderProfile?.PrivatePerson.FirstName</td>
                            <td>
                                @item.StakeholderProfile?.PrivatePerson.LastName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center mb-0">
                هیچ اطلاعاتی از اعضای هیئت مدیره در سامانه وجود ندارد!

                <div class="mt-1">
                    @Html.ActionLink("ورود اعضای هیئت مدیره", "Manager", "Stakeholder", new { }, new { @class = "btn btn-main-outlined btn-sm" })
                </div>
            </div>
        }
    </div>
</section>
