﻿@using Cerberus.Web.Enum
@using Cerberus.Web.Extensions
@model int
@{
    var canEditAgent = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Agent);
    var canEditPayment = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Payment);
    var canEditBaseInfo = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.BaseInfo);
    var canEditAddress = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Address);
    var canEditTradingCode = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.TradingCode);
    var canEditJobInfo = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.JobInfo);
    var canEditFinancialInfo = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.FinancialInfo);
    var canEditBankingAccount = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.BankingAccount);
    var canEditConfirm = Context.Request.GetCurrentUserData().AvailableScope.HasFlag(AvailableScope.Confirm);

}
<section class="content-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">سجام</a></li>
        <li class="breadcrumb-item active"> @ViewBag.Title</li>
    </ol>
    <h1>
        @if (ViewBag.HeaderIconClass != null)
        {
            <i class="@ViewBag.HeaderIconClass"></i>
        }
        @ViewBag.Title
    </h1>
</section>

<div class="steps-wrapper hideallsteps mb-2">
    <div class="steps clearfix">
        <ul role="tablist">
            <li role="tab" class="first @(Model==1?"current":"done") " aria-disabled="false" aria-selected="true">
                <a href="javascript:;">
                    <span class="current-info audible">مرحله: </span>
                    <i>
                        <i class="fa fa-registered" aria-hidden="true"></i>
                    </i>
                    <span>ثبت نام</span>
                </a>
            </li>
            <li role="tab" class="@(Model == 2 ? "current" : "disabled" ) @(Model>2?"done":"")" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </i>
                    <span>کد تایید/ نوع مشتری</span>
                </a>
            </li>

     
            <li role="tab" class="@(Model==3?"current":"disabled") @(Model>3?"done":"")" aria-disabled="true">
                <a href="@(canEditPayment? @Url.Action("Index","Payment") : "#")">
                    <i>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </i>
                    <span>پرداخت</span>
                </a>
            </li>
            <li role="tab" class="@(Model==4?"current":"disabled") @(Model>4?"done":"")" aria-disabled="true">
                <a href="@(canEditBaseInfo ? @Url.Action("Index","BaseInfo") : "#")">
                    <i>
                        <i class="fa fa-male" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات هویتی</span>
                </a>
            </li>
            <li role="tab" class="@(Model==5?"current":"disabled") @(Model>5?"done":"")" aria-disabled="true">
                <a href="@(canEditAgent? @Url.Action("Index","Agent"): "#")">
                    <i>
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </i>
                    <span>سمت و شرایط نماینده</span>
                </a>
            </li>
            <li role="tab" class="@(Model==6?"current":"disabled") @(Model>6?"done":"")" aria-disabled="true">
                <a href="@(canEditAddress?@Url.Action("Index","Address"):"#")">
                    <i>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات ارتباطی</span>
                </a>
            </li>
            <li role="tab" class="@(Model==7?"current":"disabled") @(Model>7?"done":"")" aria-disabled="true">
                <a href="@(canEditTradingCode?@Url.Action("Index","TradingCode"):"#")">
                    <i>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                    </i>
                    <span>کد های سهامداری</span>
                </a>
            </li>
            <li role="tab" class="@(Model==8?"current":"disabled") @(Model>8?"done":"")" aria-disabled="true">
                <a href="@(canEditJobInfo?@Url.Action("Index","JobInfo"):"#")">
                    <i>
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات شغلی</span>
                </a>
            </li>
            <li role="tab" class="@(Model==9?"current":"disabled") @(Model>9?"done":"")" aria-disabled="true">
                <a href="@(canEditFinancialInfo?@Url.Action("Index","FinancialInfo"):"#")">
                    <i>
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </i>
                    <span>اطلاعات مالی</span>
                </a>
            </li>
            <li role="tab" class="@(Model==10?"current":"disabled") @(Model>10?"done":"")" aria-disabled="true">
                <a href="@(canEditBankingAccount?@Url.Action("Index","BankingAccount"):"#")">
                    <i>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </i>
                    <span> حساب بانکی</span>
                </a>
            </li>
            <li role="tab" class="@(Model==11?"current":"disabled") @(Model>11?"done":"")" aria-disabled="true">
                <a href="@(canEditConfirm?@Url.Action("Index","Confirm"):"#")">
                    <i>
                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                    </i>
                    <span>تعهدات</span>
                </a>
            </li>

        </ul>
    </div>
</div>