﻿@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.ViewModel.ViewComponents

@{
    var curentStep = 5;

    var stepItems = Enum.GetValues(typeof(ProfileStatus)).OfType<Enum>().Select(x => new StepViewModel
    {
        Id = x.ToInt(),
        Title = x.ToString(),
        Description = x.GetEnumDescription(),
        Category = x.GetEnumCategory(),
        Icon = x.GetEnumIcon()

    }).Where(row => row.Category == "Public" || row.Category == "Person").ToList();
}

<div class="steps-wrapper hideallsteps">
    <div class="steps clearfix">
        <ul role="tablist">

            <li role="tab" class="first done" aria-disabled="false" aria-selected="true">
                <a href="javascript:;">
                    <span class="current-info audible">مرحله: </span>
                    <i>
                        <i class="fa fa-registered" aria-hidden="true"></i>
                    </i>
                    <span>ثبت نام</span>
                </a>
            </li>

            <li role="tab" class="done)" aria-disabled="true">
                <a href="javascript:;">
                    <i>
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </i>
                    <span>کد تایید/ نوع مشتری</span>
                </a>
            </li>

            @foreach (var item in stepItems)
            {
                <text>
                    <li role="tab" class="@(item.Id <curentStep ?"done" : (item.Id ==curentStep)?"current":"disabled")  " @*aria-disabled="false" aria-selected="true" *@>
                        <a href="javascript:;">
                            <span class="current-info audible">مرحله: </span>
                            <i>
                                <i class="fa @item.Icon" aria-hidden="true"></i>
                            </i>
                            <span>@item.Description</span>
                        </a>
                    </li>
                </text>
            }

        </ul>
    </div>
</div>
