﻿@model Cerberus.Web.ViewModel.BankingAccount.EditBankingAccountViewModel

@using static Cerberus.Utility.Tools
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/js/BankingAccount/BankingAccount.js?@ViewBag.Ver"></script>
    var provinceSelectList = ViewBag.Provinces as IEnumerable<SelectListItem> ?? new List<SelectListItem>();
    var bankSelectList = ViewBag.Banks as IEnumerable<SelectListItem> ?? new List<SelectListItem>();
    var accountTypeSelectList = ToSelectList<Cerberus.Domain.Enum.BankingAccountType>();
    var defaultCity = ViewBag.City as List<SelectListItem> ?? new List<SelectListItem>();
}
@using (Html.BeginForm("UpdateAsync", "BankingAccount", FormMethod.Post,new{id= "form" } ))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id, new { id = "bnkid" })
<div class="form-wrapper">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
            <div class="form-group dr-form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BankId)</label>
                @Html.DropDownListFor(model => model.BankId, bankSelectList, "انتخاب بانک..", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BankId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.BranchName)</label>
                @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.BranchCode)</label>
                @Html.TextBoxFor(model => model.BranchCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group dr-form-group">
                <span class="mrg5L color-red">*</span>
                <label class="form-label">استان شعبه</label>
                @Html.DropDownList("province-select", provinceSelectList, "استان محل شعبه", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
     
        <div class="col-xs-12 col-sm-3">
            <div class="form-group dr-form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BranchCityId)</label>
                @Html.DropDownListFor(model => model.BranchCityId, defaultCity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BranchCityId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group dr-form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.Type)</label>
                @Html.DropDownListFor(model => model.Type, accountTypeSelectList, "نوع حساب خود را انتخاب کنید", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label class="form-label"><span class="mrg5L color-red">*</span>@Html.DisplayNameFor(model => model.AccountNumber)</label>
                @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="form-group text-left">
                <button type="submit" class="btn btn-main" id="btnSubmit"><i class="fa fa-check" aria-hidden="true"></i>  بروز رسانی</button>
                <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined" >لغو</a>
            </div>
        </div>
    </div>
</div>
}
<script>
    $("#province-select").change(function () {
        $("#myModal").modal('show');
        var $select = $('#BranchCityId');
        if ($('#province-select').val() !== "") {

            $.ajax({
                url: '/api/cities/' + $("#province-select").val(),
                contentType: "application/json",
                success: function (results) {
                    $("#myModal").modal('hide');
                    if (results.length > 0)
                        $.each(results,
                            function () {

                                $select.find('option').remove();
                                $.each(results,
                                    function (key, value) {
                                        $select.append('<option value=' + value.value + '>' + value.text + '</option>');
                                    });

                            });

                },
            })
        } else {
            $select.find('option').remove();
            $("#myModal").modal('hide');
        }
    })
   
</script>