﻿@using Cerberus.Domain.Model
@model Cerberus.Domain.Model.ProfilePackage
@{
    ViewData["Title"] = "ویرایش اطلاعات حساب بانکی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-wrapper">
        <p class="text-center mb-2 mt-2">ویرایش اطلاعات حساب بانکی شما با موفقیت انجام ، لطفا از سامانه خارج شده و تا پیامک دریافتی مبنی بر نتیجه استعلام صبر نمایید..</p>

        <div class="text-center">
            <form action="@Url.Action("EditProfileFactor","Factor")" method="post">
                <input type="hidden" name="PackageType" value="@Model.Type" />
                <input type="hidden" name="ProfilePackageId" value="@Model.Id" />
                <input type="submit" name="name" value="ادامه و صدور فاکتور" class="btn btn-main" />

            </form>
        </div>
    </div>
</div>