﻿@model Cerberus.Web.ViewModel.PrivatePerson.CreatePrivatePersonNativeViewModel

@using Cerberus.Domain.Enum
@using Cerberus.Utility

@{
    ViewBag.HeaderIconClass = "fa fa fa-user";
    ViewBag.Title = "اطلاعات هویتی";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="form-wrapper">

    <div class="form-steps">
        <div class="row margin-bottom-30">
            <div class="col-md-8 col-md-offset-2 text-center">
                <label class="form-label">اطلاعات هویتی شما در سامانه سجام</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> @Html.DisplayNameFor(model => model.FirstName) </label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control disabletext", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> @Html.DisplayNameFor(model => model.LastName) </label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control disabletext", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> @Html.DisplayNameFor(model => model.BirthDate) </label>
                    @Html.TextBoxFor(model => model.BirthDate,
                        new
                        {
                            data_placement = "bottom",
                            data_format = "yyyy/MM/dd",
                            @readonly = "readonly",
                            type = "text",
                            @class = "form-control text-center disabletext",

                        })
                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> جنسیت:</label>
                    <span class="form-select">
                        @Html.TextBox("Gender", Model?.Gender.GetEnumDescription(), new { @class = "form-control disabletext", @readonly = "readonly" })
                    </span>
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> @Html.DisplayNameFor(model => model.FatherName)</label>
                    @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control disabletext", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">
                    <label class="form-label"> @Html.DisplayNameFor(model => model.ShNumber) </label>
                    @Html.TextBoxFor(model => model.ShNumber, new { @class = "form-control disabletext", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.ShNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="form-group">

                    <label class="form-label">سری و سریال شناسنامه:</label>
                    <div class="row mrg0L mrg0R">
                        <div class="col-md-5 pad5L pad0R">
                            @Html.TextBoxFor(model => model.Serial, null, new { @Class = "form-control disabletext", @readonly = "readonly", @placeholder = "123456" })
                            @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4 pad5L pad0R">
                            @Html.TextBoxFor(model => model.SeriSh, null, new { @Class = "form-control disabletext", @readonly = "readonly", @placeholder = "12" })
                            @Html.ValidationMessageFor(model => model.SeriSh, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 pad0L pad0R">
                            @Html.TextBoxFor(model => model.SeriShChar, new { @class = "form-control disabletext", @readonly = "readonly" })

                            @Html.ValidationMessageFor(model => model.SeriShChar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag?.package == "payment")
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <label class="form-label">برای تغییر اطلاعات هویتی، شما باید قبلا عملیات پرداخت را انجام دهید</label>
                    <form action="@Url.Action("EditAsync", "Payment")" method="post" id="form">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("type", PrimitivePackageType.EditPrivatePersonInfo)
                        <div class="btn-wrapper text-left">
                            <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined">بازگشت</a>
                            <button type="submit" class="btn btn-main" id="confirmBtn"><i class="fa fa-check" aria-hidden="true"></i> پرداخت</button>
                        </div>

                    </form>
                </div>
            </div>
        }
        else if (ViewBag?.package == "access")
        {

            <form action="@Url.Action("UpdatePrivatePerson", "BaseInfo")" method="post" id="form">
                <div class="btn-wrapper text-left">
                    <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined">بازگشت</a>
                    <button type="submit"
                            class="btn btn-main" id="btnSubmit">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <span>بروز رسانی</span>
                    </button>
                </div>
            </form>

        }
        else if (ViewBag?.package == "accessDenied")
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <label class="alert alert-danger">شما نمی توانید اطلاعات هویتی خود را بروز رسانی نمایید</label>

                    <div class="col-md-4 col-md-offset-4">
                        <div class="btn-wrapper text-left">
                            <a href="@Url.Action("Index","Dashboard")" class="btn btn-main-outlined">بازگشت</a>

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

</div>