﻿@using Cerberus.Domain.Model
@model Cerberus.Domain.Model.ProfilePackage
@{
    ViewData["Title"] = "بروز رسانی اطلاعات هویتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-wrapper">
        <p class="text-center mb-2 mt-2">سامانه در حال استعلام اطلاعات هویتی شما از مراجع ذیربط می باشد،لطفا از سامانه خارج شده و تا رسیدن پیامک مبنی بر بروزرسانی اطلاعات صبر نمایید</p>

        <div class="text-center">
            <form action="@Url.Action("EditProfileFactor","Factor")" method="post">
                <input type="hidden" name="PackageType" value="@Model.Type" />
                <input type="hidden" name="ProfilePackageId" value="@Model.Id" />
                <input type="submit" name="name" value="ادامه و صدور فاکتور" class="btn btn-main" />

            </form>
        </div>

    </div>
</div>