﻿@model Cerberus.Web.ViewModel.PrivatePerson.CreatePrivatePersonNativeViewModel

@using Cerberus.Domain.Enum
@using Cerberus.Utility
@using Cerberus.Web.Extensions
@using static Cerberus.Utility.Tools
@using static Cerberus.Utility.PersianDateExtension

@{
    ViewBag.HeaderIconClass = "fa fa fa-user";
    ViewBag.Title = "اطلاعات هویتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = Context.Request.GetCurrentUserData().ProfileStatus;
    string result = null;
    if (status == ProfileStatus.InvalidInformation || status == ProfileStatus.PendingValidation)
    {
        result = "pending";
    }
}
@await Html.PartialAsync("~/Views/Shared/_RealSteps.cshtml", 4)

<div class="form-wrapper">
    <form action="@Url.Action("CreateNativeAsync", "BaseInfo")" method="post" id="form">

        @Html.AntiForgeryToken()

        <div class="form-steps">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FirstName) </label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.LastName) </label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.BirthDate) </label>
                        <span class="clearText" id="cleardate">پاک کردن</span>
                        @Html.TextBoxFor(model => model.BirthDate,
                            new
                            {
                                data_placement = "bottom",
                                data_format = "yyyy/MM/dd",
                                data_trigger = "focus",
                                @readonly = "readonly",
                                startdate= DateTime.Now,
                                data_targetselector = "#BirthDate",
                                type = "text",
                                @class = "form-control text-center",
                                data_mddatetimepicker = "true",


                            })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> جنسیت:</label>
                        <span class="form-select">
                            @Html.DropDownListFor(model => model.Gender, ToSelectList<Cerberus.Domain.Enum.Gender>(), "جنسیت را انتخاب کنید", new { @class = "form-control" })
                        </span>
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.FatherName)</label>
                        @Html.TextBoxFor(model => model.FatherName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.ShNumber) </label>
                        @Html.TextBoxFor(model => model.ShNumber, new { @class = "form-control  dir-ltr" })
                        @Html.ValidationMessageFor(model => model.ShNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.UniqueIdentifier) </label>
                        @Html.TextBoxFor(model => model.UniqueIdentifier, new { @class = "form-control disabletext  dir-ltr", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.UniqueIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PlaceOfIssue) </label>
                        @Html.TextBoxFor(model => model.PlaceOfIssue, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlaceOfIssue, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="form-label"><span class="mrg5L color-red">*</span> @Html.DisplayNameFor(model => model.PlaceOfBirth)</label>
                        @Html.TextBoxFor(model => model.PlaceOfBirth, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <span class="mrg5L color-red">*</span>
                        <label class="form-label">سری و سریال شناسنامه:</label>
                        <div class="row mrg0L mrg0R ">
                            <div class="col-md-4 pad5L pad0R">
                                @Html.TextBoxFor(model => model.Serial, null, new { @Class = "form-control dir-ltr ", @placeholder = "123456" ,@maxlength=6})
                                @Html.ValidationMessageFor(model => model.Serial, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3 pad5L pad0R">
                                @Html.TextBoxFor(model => model.SeriSh, null, new { @Class = "form-control dir-ltr", @placeholder = "12" ,@maxlength=2 })
                                @Html.ValidationMessageFor(model => model.SeriSh, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5 pad0L pad0R">
                                <span class="form-select">
                                    @Html.DropDownListFor(model => model.SeriShChar, new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "الف", Value = "الف"},
                                        new SelectListItem() {Text = "ب", Value = "ب"},
                                        new SelectListItem() {Text = "ل", Value = "ل"},
                                        new SelectListItem() {Text = "د", Value = "د"},
                                        new SelectListItem() {Text = "ر", Value = "ر"},
                                        new SelectListItem() {Text = "1(یک)", Value = "1"},
                                        new SelectListItem() {Text = "2(دو)", Value = "2"},
                                        new SelectListItem() {Text = "3(سه)", Value = "3"},
                                        new SelectListItem() {Text = "4(چهار)", Value = "4"},
                                        new SelectListItem() {Text = "9(نه)", Value = "9"},
                                        new SelectListItem() {Text = "10(ده)", Value = "10"},
                                        new SelectListItem() {Text = "11(یازده)", Value = "11"},
                                    }, "-",
                                        new {@class = "form-control"})
                                </span>
                                @Html.ValidationMessageFor(model => model.SeriShChar, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="btn-wrapper text-left">


                <button type="submit"
                        class="btn btn-main" id="btnSubmit">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>تایید/ادامه مرحله بعد</span>
                </button>
            </div>
        </div>
    </form>

    <div class="form-guide">
        <ul>
            <li>انطباق مشخصات اعلامی با مندرجات کارت ملی الزامی است .</li>
        </ul>
    </div>
</div>

<script>
    $(function() {
        $("#cleardate").click(function() {
            $("#BirthDate").val("");
        });
        if ('@result'==='pending') {
            setTimeout(function() {
                    swal({
                        title: "",
                        text:
                            "در صورت ویرایش اطلاعات هویتی خود، با مراجعه به مرحله تعهدات ، با انتخاب گزینه می پذیرم و کلیک بر روی دکمه ذخیره، ثبت نام خود را نهایی کنید",
                        type: 'info',
                        showConfirmButton: true,
                        confirmButtonText: 'متوجه شدم',
                    });
                },
                5000);

        }
    });
</script>
