﻿@model Cerberus.Web.ViewModel.PrivatePerson.PlaceOfBirthViewModel



@using (Html.BeginForm("UpdatePlaceOfBirthAsync", "BaseInfo", FormMethod.Post, new { id = "birthForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-group">
    <label class="form-label">@Html.DisplayNameFor(model => model.PlaceOfBirth):</label>
    @Html.TextBoxFor(model => model.PlaceOfBirth, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PlaceOfBirth, "", new { @class = "text-danger" })
</div>

    <div style="margin-top: 25px">
        <button  class="btn btn-main" id="btnBirthSubmit" ><i class="fa fa-check" aria-hidden="true"></i>  بروز رسانی</button>
        <span class="btn btn-main-outlined" id="btnCancel">لغو</span>
    </div>
}


<script>
    $(function() {
        $("#PlaceOfIssue").keypress(function (e) {
            //Enter key
            if (e.which === 13) {
                return false;
            }
        });
    })
</script>